@keyframes appearDown {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearRight {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes typing {
  100% {
    left: 70%;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
