.container {
  &__image {
    grid-area: img;
    background: url("../assets/img/gypsys\ \(10\)-min.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: $boho-khaki 3px solid;
  }
  &__h2 {
    grid-area: header;
    text-align: center;
    font-size: 12vh;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(50px);
    animation: appear 1.5s 0.5s forwards;
  }
  &__paragraph {
    grid-area: paragraph;
    padding: 5%;
    font-size: 3vh;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    animation: appear 1.5s 1.5s forwards;
  }
  &--about {
    display: grid;
    background-color: rgba(232, 216, 197, 0.7);
    border-radius: 15px;
    height: 70vh;
    grid-template-areas:
      "img header"
      "img paragraph";
    grid-template-rows: 25% 1fr;
    grid-template-columns: 35% 1fr;
    //margin: 7.5%;
  }
}
