.gallery {
  @include containerCream;
  max-height: 100vh;
  @media (max-width: $tablet) {
    @include containerCreamMobile;
  }
  @media (min-width: $tablet) and (max-width: $laptop) {
    border-radius: 0;
    height: 100vh;
  }
  &__container {
    height: 100%;
    min-width: 50%;
    &--content {
      @include center;
      @media (max-width: $tablet) {
        max-height: 30%;
      }
    }
    &--slider {
      @media (max-width: $tablet) {
        max-height: 100%;
        min-width: 100%;
      }
    }
  }
  &__h2 {
    font-size: 3vw;
    opacity: 0;
    transform: translateY(100px);
    animation: none;
    @media (max-width: $tablet) {
      @include mobileH2;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      @include tabletH2;
    }
  }
  &__paragraph {
    font-size: 2vw;
    opacity: 0;
    transform: translateY(100px);
    animation: none;
    @media (max-width: $tablet) {
      @include containerCreamParagraphMobile;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      font-size: 2.5vw;
    }
  }
  &__carousel {
    width: 100%;
    height: 100%;
    position: relative;
    & > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @media (max-width: $tablet) {
      object-fit: cover;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      object-fit: cover;
    }
  }
  &__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms 200ms opacity ease-in-out;
    &[data-active] {
      opacity: 1;
      transition-delay: 0;
    }
  }
  &__button {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2vw;
    top: 50%;
    transform: translateY(-50%);
    &--previous {
      left: 1rem;
    }
    &--next {
      right: 1rem;
    }
  }
  &__arrow {
    &--right {
      transform: rotate(180deg);
    }
  }
  &__popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    & span {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 40px;
      font-weight: bolder;
      color: #fff;
      cursor: pointer;
    }
    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 5px solid #fff;
      border-radius: 5px;
      object-fit: contain;
      width: 600px;
    }
  }
}
