.lang {
  position: relative;
  width: 50px;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: $boho-khaki;
    border-radius: 25px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: $boho-dark;
    border-radius: 25px;
    border: 2px solid $boho-khaki;
    box-sizing: border-box;
  }
  &:checked {
    &::before {
      background-color: $boho-dark;
    }
    &::after {
      left: 25px;
      border: 2px solid $boho-khaki;
    }
  }
}

.navigation {
  background-color: $boho-sand;
  height: 5vh;
  position: sticky;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-50px);
  animation: appearDown 0.75s 3s forwards;
  @media (max-width: $mobile) {
    position: fixed;
    top: 0;
    left: 100%;
    width: 80vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
    transition: all 1s;
  }
  &__list {
    height: 100%;
    font-size: 2vh;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
      height: 50%;
      font-size: 4vh;
    }
    & li {
      &:hover::after {
        width: 100%;
      }
      &::after {
        content: "";
        display: block;
        background-color: $boho-khaki;
        position: relative;
        transition: width 0.5s ease-out;
        width: 0%;
        height: 2px;
      }
      &:first-child::after {
        display: none;
      }
    }
  }
  &__link {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $boho-khaki;
    }
  }
}
.menu {
  border-width: 0;
  border-style: none;
  border-color: inherit;
  border-image: none;
  top: 30px;
  @include hamburger;
  z-index: 4;
  transition: right 0.5s ease;
  &::before {
    content: "";
    top: 15px;
    @include hamburger;
    transition: transform 0.75s ease;
    transform: rotate(0deg);
  }
  &::after {
    content: "";
    top: 45px;
    @include hamburger;
    transition: transform 0.75s ease;
    transform: rotate(0deg) translateY(0px);
  }
  &--closed {
  }
  &--open {
    right: -100px;
    &::after {
      content: "";
      top: 45px;
      @include hamburger;
      visibility: visible;
      transition: transform 0.75s ease;
      transform: rotate(-45deg) translateY(-21.5px);
    }
    &::before {
      content: "";
      top: 15px;
      @include hamburger;
      visibility: visible;
      transition: transform 0.75s ease;
      transform: rotate(45deg) translateY(21.5px);
    }
  }
}
