.section {
  min-height: 100vh;
  max-height: 100vh;
  padding: 7.5%;
  @media (max-width: $tablet) {
    padding: 7.5% 0 7.5% 0;
  }
  @media (min-width: $tablet) and (max-width: $laptop) {
    padding: 0;
    margin: 20% 0 20% 0;
  }
  &--welcome {
    padding: 0;
    @media (min-width: $tablet) and (max-width: $laptop) {
      margin: 0;
      padding: 0;
    }
  }
  &--about {
    @media (max-width: $mobile) {
      margin: 20% 0;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      padding: 0;
    }
  }
  &--gallery {
    padding: 2.5% 0 2.5% 0;
  }
  &--contact {
    @media (max-width: $tablet) {
      margin: 20% 0 0 0;
    }
    @media (min-width: $tablet) and (max-width: $laptop) {
      margin: 0;
      padding: 0;
    }
  }
  &--widget {
    min-height: 50vh;
    max-height: 50vh;
  }
}
