.welcome {
  @include containerWhite;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    width: 100%;
    margin: 0;
  }
  &__h1 {
    @include containerWhiteHeading;
    opacity: 0;
    transform: translateY(50px);
    animation: appearDown 1s 4.25s forwards;
    @media (max-width: $mobile) {
      @include containerWhiteHeadingMobile;
    }
  }
  &__paragraph {
    @include containerWhiteParagraph;
    opacity: 0;
    transform: translateY(50px);
    animation: appearDown 1s 4.5s forwards;
    @media (max-width: $mobile) {
      @include containerWhiteParagraphMobile;
    }
  }
  &__container {
    min-height: 100%;
    min-width: 50%;
    &--logo {
      @include center;
    }
    &--images {
      max-height: 100%;
      display: grid;
      grid-template-areas:
        "large medium"
        "large small";
      grid-template-columns: 60% 1fr;
      grid-template-rows: 60% 1fr;
      grid-gap: 2%;
      @media (max-width: $mobile) {
        grid-gap: 0;
      }
    }
  }
  &__image {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    &--logo {
      opacity: 0;
      transform: translateY(50px);
      animation: appearDown 1s 4s forwards;
      max-width: 457px;
      max-height: 370px;
    }
    &--special {
      border: $boho-dark 2px solid;
      box-sizing: border-box;
    }
    &--large {
      grid-area: large;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      transform: translateX(-50px);
      animation: appearRight 1s 5s forwards;
    }
    &--medium {
      grid-area: medium;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      transform: translateX(-50px);
      animation: appearRight 1s 5.25s forwards;
    }
    &--small {
      grid-area: small;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      transform: translateX(-50px);
      animation: appearRight 1s 5.5s forwards;
    }
  }
}
