$boho-sand: #fcede0;
$boho-sand-transparent: rgba(252, 237, 224, 0.9);
$boho-olive: #616d53;
$boho-khaki: #967d5c;
$boho-stone: #645b53;
$boho-mustard: #dba955;
$boho-clay: #b8613c;
$boho-dark: #1b1b1b;
$boho-text: #3e3f31;
$desktop: 1439px;
$laptop: 1023px;
$tablet: 767px;
$mobile: 426px;

@mixin hamburger {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
}
@mixin containerBoho {
  background-color: $boho-sand-transparent;
  border-radius: 15px;
  height: 75vh;
}
@mixin containerWhite {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: 5% 0;
  background-color: #fff;
}
@mixin containerCream {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: 5% 0;
  background-color: $boho-sand;
  color: $boho-dark;
}
@mixin containerCreamMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}
@mixin containerCreamHeading {
  font-size: 2vw;
}
@mixin containerCreamHeadingMobile {
  font-size: 4vw;
}
@mixin containerCreamHeadingTablet {
  font-size: 2.3vw;
}
@mixin containerCreamParagraph {
  font-size: 1.25vw;
}
@mixin containerCreamParagraphMobile {
  font-size: 3.3vw;
}
@mixin containerCreamParagraphTablet {
  font-size: 1.5vw;
}
@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin mobileH2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7.5% 0 0 0;
  font-size: 10vw;
}
@mixin tabletH2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7.5% 0 0 0;
  font-size: 6.5vw;
}
