$boho-sand: #e8d8c5;
$boho-olive: #616d53;
$boho-khaki: #967d5c;
$boho-stone: #645b53;
$boho-mustard: #dba955;
$boho-clay: #b8613c;
$boho-dark: #1b1b1b;
$boho-navy: #1c3446;
$boho-gold: #c67c3c;
$laptop: 1023px;
$tablet: 767px;
$mobile: 426px;

@mixin hamburger {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
}
@mixin containerBoho {
  background-color: rgba(232, 216, 197, 0.9);
  border-radius: 15px;
  height: 75vh;
}
@mixin containerWhite {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: 5% 0;
  background-color: #fff;
}
@mixin containerNavy {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75vh;
  width: 100%;
  margin: 5% 0;
  background-color: $boho-navy;
  color: $boho-gold;
}
@mixin containerNavyMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
}
@mixin containerNavyHeading {
  font-size: 2vw;
}
@mixin containerNavyHeadingMobile {
  font-size: 5vw;
}
@mixin containerNavyHeadingTablet {
  font-size: 3vw;
}
@mixin containerNavyParagraph {
  font-size: 1.25vw;
}
@mixin containerNavyParagraphMobile {
  font-size: 3.5vw;
}
@mixin containerNavyParagraphTablet {
  font-size: 1.75vw;
}
@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin mobileH2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7.5% 0 0 0;
  font-size: 10vw;
}
@mixin tabletH2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 7.5% 0 0 0;
  font-size: 6.5vw;
}
