@import "~normalize.css";
@import "_variables";
@import "modules/animations.scss";
@import "modules/navigation.scss";
@import "modules/sections.scss";
@import "modules/welcome.scss";
@import "modules/about.scss";
@import "modules/contact.scss";
@import "modules/gallery.scss";
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

* {
  scroll-behavior: smooth;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.body {
  height: 100vh;
  font-family: "Cutive Mono", monospace;
  color: $boho-stone;
}

.main {
  background-image: url("../assets/img/bar-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &--preload {
    overflow: hidden;
    &::before {
      content: "Loading";
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 5vw;
      color: $boho-stone;
      z-index: 2;
      position: fixed;
      left: 0;
      top: 0;
      background-color: $boho-sand;
      width: 100%;
      height: 100%;
      animation: disappear 0.75s 3s ease-in-out both;
    }
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 25%;
    //   left: 38%;
    //   z-index: 3;
    //   height: 100%;
    //   width: 30%;
    //   background: $boho-sand;
    //   animation: disappear 0.75s 2.5s ease-in-out forwards,
    //     typing 1.5s steps(10) infinite;
    // }
  }
}
